*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-color: rgb(224, 115, 64);
}
.logo{
    letter-spacing: 4px;
    font-size: 24px;
}
body{
    font-family:sans-serif;
    font-size:17px;
}
.login{
    background-image: url(pics/pexels.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}
.login p{
    font-size: 42px;
    font-family: sans-serif;
    line-height: 1.6;
    color: rgb(46, 12, 19);
}
.login input[class="day"]{
    border: 0;
    background: whitesmoke;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}
login input[id="day"]:focus{
    width: 280px;
    color: rgb(29, 177, 140);
}
.login label{
    font: 6px;
    color: black;
}
.login .button{
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}